.file-upload {
  .file-upload__label {
    cursor: pointer;
    position: relative;

    .file-upload__input {
      margin-right: 5px;
      cursor: pointer;
      width: 134px;
      border-radius: 4px;
      outline: none;
  
      &:focus {
        box-shadow: 0px 0px 5px 2px $shadowColor;
      }
    }

    .file-upload__label-text {
      margin: 0;
      padding: 0;
    }

    .error {
      display: inline-block;
      color: $errorColor;
      position: absolute;
      left: 0;
      bottom: -20px;
    }  
  }
}