.card {
  width: 160px;
  border: 2px solid $backgroundHeaderColor;
  text-align: center;
  border-radius: 15px;

  .card__img {
    width: 100%;
    border-radius: 12px 12px 0 0;
  }

  .card__title {
    font-size: 1.1rem;
    height: 55px;
    padding: 0px;
    margin: 5px;;
  }

  .card__button {
    margin-bottom: 15px;
    background-color:  $buttonColor;
    border: 2px solid $backgroundHeaderColor;
    border-radius: 6px;
    letter-spacing: 0.2rem;
    padding: 4px 8px;
    transition: all 0.3s;
    
    &:hover {
      border: 2px solid $lightColor;
    }
  }
}