.date-input {
  .date-input__label {
    .date-input__input {
      margin-left: 10px;
      outline: none;
      border-radius: 5px;
      padding: 2px 6px;
      border: none;
      width: 168px;
      cursor: pointer;
    }
  }
}
