body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $mainColor;
  color: $lightColor;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  @include flex(center, center);
  flex-direction: column;

  .main__message_loading {
    position: fixed;
    top: 48%;
    left: 48%;
    background-color: $backgroundCreateUserFormColor;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.2rem;
  }

  .main__message_not-found {
    font-size: 1.2rem;
  }
}