.text-input {
  .text-input__label {
    position: relative;

    .text-input__input {
      outline: none;
      border-radius: 5px;
      padding: 2px 6px;
      border: none;
      width: 95%;
    }
  }

  .error {
    display: inline-block;
    color: $errorColor;
    position: absolute;
    left: 0;
    bottom: -20px;
  }
}