.navbar {
  padding: 20px 0;

  .navbar__items {
    margin: 0;
    padding: 0;

    .navbar__item {
      list-style-type: none;
      display: inline-block;
      padding: 0 10px;

      .navbar__link {
        color: $lightColor;
        text-decoration: none;
        font-weight: 700;

        &.active {
          border-bottom: solid 4px $mainColor;
        }
      }
    }
  }
}